@font-face {
  font-family: "portfolio-font";
  src: url("./styles/PlayfairDisplay-VariableFont_wght.ttf");
}

body{
  margin: 0;
  font-family: "portfolio-font";
  background-color: black;
  color: white;
}

a{
  text-decoration: none;
  color: white;
}